*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
   
   }

body {
   box-sizing: border-box;
    }

body {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-container {
    width: 500px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    font-family: fantasy ;
}
h1 {
    color: blanchedalmond;
    font-size: 5rem;
}
.squares-container {
    display: flex;
    width: 100%;
    height: 100px;
    position: relative;
}
.square {
    padding: 50px;
    width: calc(100%/3 - 20px);
    position: absolute;
    top: 0;
    transition: 2s;
    cursor: pointer;
}
button {
    position: relative;
    padding: 10px 15px;
    background-color: none;
    border-radius: 10px;
    /* color: tomato; */
    cursor: pointer;
}
.square:nth-child(1) {
    left: 0;
}
.square:nth-child(2) {
    left: calc(100%/3);
}
.square:nth-child(3) {
    left: calc(100%*2/3);
}
.draw-square {
    background-size: cover;
    margin: auto;
    width: 300px;
    height: 200px;
    background-color: white;

    
    
}
.draw-square1{
    margin: auto;
    width: 300px;
    height: 200px;
    background-color: white;
    
}
.draw-square2 {
    margin: auto;
    width: 300px;
    height: 200px;
    background-color: white;
    
}
    #nut {
    position: relative;
    top: -10px;
    left: 45%;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    transition: 2s;
    cursor: pointer;
    background: url(../Images/nut_object.png);
    background-size: 100%;
}

.draw-square:hover {
   animation: visible;
   animation-duration: 1s;
   animation-iteration-count: 1;
   background: url(../Images/dinosaurs.jpg);
   position: relative;
   background-size: 400px;
}
.draw-square1:hover {
    animation: visible;
    animation-duration: 1s;
    animation-iteration-count: 1;
    position: relative;
    background: url(../Images/Friends.jpg);
    background-size: 400px;
}
.draw-square2:hover {
    animation: visible;
    animation-duration: 1s;
    animation-iteration-count: 1;
    position: relative;
    background: url(../Images/bad_pack.jpg);
    background-size: 400px;
}

button:hover {
    animation: justButton;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes visible {
    0% {
        opacity: 0;
        transform: translateX(0rem); }
    80% {
        transform: translateX(0rem); }
    100% {
        opacity: 1;
        transform: translate(0); }
}
@keyframes justButton {
    0% {background-color: red;}
    100% {background-color: green;}
}